@font-face {
    font-family: CustomFont;
    src: url(custom-font/Barcelona\ 24-25\ Tipografstore.otf);
    font-weight: bold;
    font-style: normal;
}

@font-face {
  font-family: CustomFont2;
  src: url(custom-font/Montserrat-Medium.ttf);
}

@font-face {
  font-family: CustomFont3;
  src: url(custom-font/Montserrat-Italic-VariableFont_wght.ttf);
  font-style: normal; 
}

html, body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

h1 {
    color: white;
    font-family: CustomFont;
    font-weight: bold;
    background-color: #004D98;
    text-align: center;
    width: 100%;
    margin: 0;
    padding: 25px;
    font-size: 2.5rem;
}

h2{
    font-family: CustomFont;
    font-weight: bold;
    font-size: 30px;
    color: #004D98;
    margin-top: 20px;
    margin-left: 10px;
}

#hazte-socio {
    text-align: center;
}

h3{
    font-family: CustomFont;
    font-weight: bold;
    font-size: 25px;
    color: #004D98;
    margin-top: 20px;
    margin-left: 10px;
}

#logo-barcelona {
    text-align: center;
    margin: 20px 0;
    background-color: darkred;
    margin: 0;
}

.navegacion ul {
  list-style: none;
}

.navegacion {
  background-color: #3D000B;
  display: flex;
  justify-content: center;
  height: 70px;
  margin: 15px 0 25px 0;
}

.navegacion ul {
  display: flex;
  align-items: center;
  gap: 25px;
}

.navegacion ul li a {
  text-decoration: none;
  color: white;
  transition: color 0.3s ease;
  font-family: CustomFont;
  font-weight: bold;
  font-size: 30px;
  transition: all 0.3s ease;
}

.navegacion ul li:not(.logo) a:hover {
  background-color: rgba(0, 0, 0, 0.4);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
  transform: translateY(-50px);
}

.navegacion .logo img {
  width: 100px;
  display: block;
  transition: none;
}

.navegacion .logo {
  position: relative;
  top: 5px;
}

p{
  font-family: CustomFont3;
  font-size: 18px;
  margin: 20px;
}

ul li{
  font-family: CustomFont3;
}

#jugadores {
  font-family: Arial, sans-serif;
  gap: 20px;
  margin: 20px;
}

.imagen-jugadores {
  display: block;
  margin: 20px auto;
  border: 5px solid #004D98;
  border-radius: 10px;
}

ul{
  font-family: Arial, sans-serif;
  font-size: 18px;
  margin: 20px;
}

.navegacion-interna {
  background: darkred;
  margin: 0;
}

.navegacion-interna ul{
  list-style-type: none;
  margin: 0;
  padding: 0;
  text-align: center;
}

.navegacion-interna ul li{
  display: inline;
  text-align: center;
}

.navegacion-interna ul li a {
  padding: 15px 20px;
  color: white;
  text-decoration: none;
  font-family: CustomFont;
  font-weight: bold;
  font-size: larger;
  display: inline-block;
  transition: all 0.3s ease;
}

.navegacion-interna ul li a:hover {
  background: red;
  transform: scale(1.05);
}

.contenedor{
  margin: 0;
  padding: 20px;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 10px;
}

.contenedor-interno{
  margin: 0;
  padding: 0;
  background-color: #3D000B;
  border-radius: 20px;
  text-align: center;
  color: white;
}

.contenedor-interno p{
  font-family: CustomFont;
  font-weight: bold;
}

.partido{
  display: flex;
  justify-content: center;
}

.contenedor-interno img{
  width: 20%;
}

#formulario {
  margin: 20px auto;
  padding: 20px;
  border: 2px solid #004D98;
  border-radius: 10px;
  width: 300px;
  background-color: white;
  font-family: CustomFont3;
  font-size: 20px;
}

#formulario input{
  margin-right: 20px;

}

table {
  margin: 10px;
  width: auto;
  border-radius: 10px;
}

table p:nth-child(odd){
  font-family: CustomFont2;
}

table p:nth-child(even){
  font-family: CustomFont3;
}

td {
  margin: 10px;
  vertical-align: middle;
  padding: 0;
}

td:first-child {
  width: 1%;
}

td:nth-child(2) p{
  font-size: 30px;
  text-align: center;
}

td ul li{
  font-family: CustomFont2;
}

table img {
  width: 25vw;
  border-radius: 10px;
  padding: 5px;
  margin: 0;
}

td a{
  font-family: 'CustomFont';
  font-size: 25px;
  display: block;
  width: 100%;
  height: 100%;
  text-align: center;
  background-color: #3D000B;
  color: white;
  text-decoration: none;
  margin: 0;
  padding: 100px 0;
  transition: background-color 0.3s ease;
}

a:hover{
  background-color: #004D98;
}

footer{
  background-color: #004D98;
  color: white;
  text-align: center;
  padding: 10px 0;
  width: 100%;
  font-family: 'CustomFont';
  font-weight: bold;
  font-size: 30px;
}